@model IEnumerable<Shop.EF.NhuCau>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tennhucau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tennhucau)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.manhucau }) |
            @Html.ActionLink("Details", "Details", new { id=item.manhucau }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.manhucau })
        </td>
    </tr>
}

</table>
