@model IEnumerable<Shop.EF.BinhLuan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}
@Html.Partial("_MessageAlert")
<body class="hold-transition sidebar-mini">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 style="text-align:center;color:#fff">Bình luận người dùng</h2>
                            <a class="glass-button btn-outline-danger" style="background-color: rgb(232 221 13 / 0.48)" href="@Url.Action("Create","BinhLuan")"><img src="~/Content/images/contract.png" width="20" height="20" /> Tạo mới</a>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr style="background-color: #0eb7ee; color: white;">
                                        <th class="text-center" style="vertical-align:middle">
                                            @Html.DisplayName("Tiêu đề")
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            @Html.DisplayName("Tên")
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            @Html.DisplayName("Nội dung")
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            @Html.DisplayName("Vote")
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            @Html.DisplayName("Ngày bình luận")
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            @Html.DisplayName("Trạng thái")
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            Thao tác
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.TinTuc.tieude)
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.ten)
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.noidung)
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.vote)
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.ngaybinhluan)
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @*@Html.DisplayFor(modelItem => item.trangthai)*@
                                                @if (item.trangthai == true)
                                                {
                                                    <p style="background-color: rgb(7 83 239 / 0.85);" class="btn text-white"><i class="fa fa-check"></i> Đã duyệt</p>
                                                }
                                                else
                                                {
                                                    <p class="btn btn-danger"><i class="fa fa-square"></i> Chưa duyệt</p>
                                                }
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @*@Html.ActionLink("Edit", "Edit", new { id = item.mabinhluan }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.mabinhluan }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.mabinhluan })*@
                                                <a style="margin-right:5px;" href="@Url.Action("Edit","BinhLuan", new { id = item.mabinhluan })"><img style="width:20px;height:20px;" src="~/Areas/Administrator/Data/images/edit-crud.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Sửa" /></a>
                                                <a style="margin-left:5px;margin-right:5px;" href="@Url.Action("Details","BinhLuan", new { id = item.mabinhluan })"><img style="width:20px;height:20px;" src="~/Areas/Administrator/Data/images/eye.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem" /></a>
                                                <a style="margin-left:5px;" href="@Url.Action("Delete","BinhLuan", new { id = item.mabinhluan })"><img style="width:20px;height:20px;" src="~/Areas/Administrator/Data/images/trash-crud.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa" /></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>