@model Shop.EF.MetaLaptop

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}
@Html.Partial("_MessageAlert")
<div class="container-sm container-fluid">
    <div class="p-5" style="background-color: white">
        <h2>Xóa</h2>

        <h3>Bạn có chắc chắn muốn xóa hay không?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Tên Laptop")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Laptop.tenlaptop)
                </dd>

                <dt>
                    @Html.DisplayName("Mã Key")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.keymeta)
                </dd>

                <dt>
                    @Html.DisplayName("Giá trị")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.valuemeta)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa bỏ" class="btn btn-danger" /> |
                    @Html.ActionLink("Quay lại", "Index", "MetaLaptop")
                </div>
            }
        </div>
    </div>
</div>