@model IEnumerable<Shop.EF.MetaLaptop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}
@Html.Partial("_MessageAlert")
<body class="hold-transition sidebar-mini">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 style="text-align:center;color:#fff">Meta Laptop (mở rộng thêm)</h2>
                            <a class="glass-button btn-outline-danger" style="background-color: rgb(232 221 13 / 0.48)" href="@Url.Action("Create","MetaLaptop")"><img src="~/Content/images/contract.png" width="20" height="20" /> Tạo mới</a>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="vertical-align:middle">
                                            @Html.DisplayNameFor(model => model.Laptop.tenlaptop)
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            @Html.DisplayNameFor(model => model.keymeta)
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            @Html.DisplayNameFor(model => model.valuemeta)
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            Thao tác
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.Laptop.tenlaptop)
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.keymeta)
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.valuemeta)
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @*@Html.ActionLink("Edit", "Edit", new { id = item.mameta }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.mameta }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.mameta })*@
                                                <a style="margin-right:5px;" href="@Url.Action("Edit","MetaLaptop", new { id = item.mameta })"><img style="width:20px;height:20px;" src="~/Areas/Administrator/Data/images/edit-crud.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Sửa" /></a>
                                                <a style="margin-left:5px;margin-right:5px;" href="@Url.Action("Details","MetaLaptop", new { id = item.mameta })"><img style="width:20px;height:20px;" src="~/Areas/Administrator/Data/images/eye.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem" /></a>
                                                <a style="margin-left:5px;" href="@Url.Action("Delete","MetaLaptop", new { id = item.mameta })"><img style="width:20px;height:20px;" src="~/Areas/Administrator/Data/images/trash-crud.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa" /></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>