@model IEnumerable<Shop.EF.ChuDe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}
@Html.Partial("_MessageAlert")
<body class="hold-transition sidebar-mini">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 style="text-align:center;color:#fff">Chủ đề blog</h2>
                            <a class="glass-button btn-outline-danger" style="background-color: rgb(232 221 13 / 0.48)" href="@Url.Action("Create","ChuDe")"><img src="~/Content/images/contract.png" width="20" height="20" /> Tạo mới</a>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr style="background-color: #10ed95; color: white;">
                                        <th class="text-center" style="vertical-align:middle">
                                            @Html.DisplayName("Tên chủ đề")
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            @Html.DisplayName("Slug")
                                        </th>
                                        @*<th class="text-center" style="vertical-align:middle">
                                            <img src="~/App_Data/images/@Html.DisplayName("Hình")" alt="Alternate Text" height="100" width="100"/>                                        
                                        </th>*@
                                        <th class="text-center" style="vertical-align:middle">
                                            Thao tác
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.tenchude)
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.slug)
                                            </td>
                                            @*<td class="text-center" style="vertical-align:middle">
                                                <img src="~/Content/images/@Html.DisplayFor(modelItem => item.hinh)" alt="No image" width="100" height="100" />
                                            </td>*@
                                            <td class="text-center" style="vertical-align:middle">
                                                @*@Html.ActionLink("Edit", "Edit", new { id = item.machude }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.machude }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.machude })*@
                                                <a style="margin-right:5px;" href="@Url.Action("Edit","ChuDe", new { id = item.machude })"><img style="width:20px;height:20px;" src="~/Areas/Administrator/Data/images/edit-crud.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Sửa" /></a>
                                                <a style="margin-left:5px;margin-right:5px;" href="@Url.Action("Details","ChuDe", new { id = item.machude })"><img style="width:20px;height:20px;" src="~/Areas/Administrator/Data/images/eye.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem" /></a>
                                                <a style="margin-left:5px;" href="@Url.Action("Delete","ChuDe", new { id = item.machude })"><img style="width:20px;height:20px;" src="~/Areas/Administrator/Data/images/trash-crud.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa" /></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>