@model IEnumerable<Shop.EF.ChuDe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenchude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenchude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.machude }) |
            @Html.ActionLink("Details", "Details", new { id=item.machude }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.machude })
        </td>
    </tr>
}

</table>
