@model Shop.EF.Laptop

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<div class="container container-fluid">
    <div class="p-5" style="background-color: white">
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Laptop</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @*@Html.DisplayNameFor(model => model.Hang.tenhang)*@
                    @Html.DisplayName("Tên hãng")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Hang.tenhang)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NhuCau.tennhucau)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NhuCau.tennhucau)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tenlaptop)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tenlaptop)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.giaban)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.giaban)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.mota)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.mota)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.hinh)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hinh)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.cpu)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cpu)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.gpu)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.gpu)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ram)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ram)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.hardware)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hardware)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.manhinh)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.manhinh)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ngaycapnhat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ngaycapnhat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.soluongton)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.soluongton)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.trangthai)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.trangthai)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>