@model Shop.EF.ChiTietDonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<div class="container-sm container-fluid">
    <div class="p-5" style="background-color: white">
        <h2>Xem chi tiết đơn hàng</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Mã khách hàng")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DonHang.makh)
                </dd>

                <dt>
                    @Html.DisplayName("Tên Laptop")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Laptop.tenlaptop)
                </dd>

                <dt>
                    @Html.DisplayName("Số lượng mua")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.soluong)
                </dd>

                <dt>
                    @Html.DisplayName("Đơn giá bán")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dongia)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Sửa", "Edit", new { /* id = Model.PrimaryKey */ }) |
            @Html.ActionLink("Quay lại", "Index", "ChiTietDonHang")
        </p>
    </div>
</div>