@using Shop.Models
@using Shop.Common
@{
    HomeModel home = new HomeModel();
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iLaptop - Laptop mọi nhà</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/all.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/phonerang.css" rel="stylesheet" />
    <style>
        #myBtn {
            display: none;
            position: fixed;
            bottom: 60px;
            right: 10px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: red;
            border: 4px solid #ccc;
            color: red;
            cursor: pointer;
            border-radius: 30px;
            opacity: 0.7;
            width: 60px;
        }

            #myBtn:hover {
                background-color: #f1f1f1;
            }
    </style>
</head>
<body>
    <div class="container-fluid">

        <div class="row min-vh-100">
            <div class="col-12">
                <header class="row">
                    <button id="myBtn" title="Lên đầu trang"><img src="~/Content/images/back-to-top.png" title='lên đầu trang' width='14' /></button>
                    <script>
                        window.onscroll = function () { scrollFunction() };
                        function scrollFunction() {

                            if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
                                document.getElementById("myBtn").style.display = "block";
                            } else {
                                document.getElementById("myBtn").style.display = "none";
                            }
                        }

                        document.getElementById('myBtn').addEventListener("click", function () {
                            document.body.scrollTop = 0;
                            document.documentElement.scrollTop = 0;
                        });
                    </script>
                    <!-- Top Nav -->
                    <div class="col-12 bg-dark py-2 d-md-block d-none">
                        <div class="row">
                            <div class="col-auto me-auto">
                                <ul class="top-nav">
                                    <li>
                                        <a href="tel:+0365204529"><i class="fa fa-phone-square me-2"></i>0365204529</a>
                                    </li>
                                    <li>
                                        <a href="mailto:huynh.it.24@gmail.com"><i class="fa fa-envelope me-2"></i>huynh.it.24@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-auto">
                                @Html.Partial("_LoginPartial")
                            </div>
                            @*<div class="col-auto">
                                    <ul class="top-nav">
                                        <li>
                                            <a href="@Url.Action("DangKy","NguoiDung")"><i class="fas fa-user-edit me-2"></i>Đăng ký</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("DangNhap","NguoiDung")"><i class="fas fa-sign-in-alt me-2"></i>Đăng nhập</a>
                                        </li>
                                    </ul>
                                </div>*@
                        </div>
                    </div>
                    <!-- Top Nav -->
                    <!-- Header -->
                    <div class="col-12 bg-white pt-4">
                        <div class="row">
                            <div class="col-lg-auto">
                                <div class="site-logo text-center text-lg-left">
                                    <a href="@Url.Action("Index","Home")">iLaptop</a>
                                </div>
                            </div>
                            <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
                                @using (Html.BeginForm("ListLaptopTheoSearch", "Home"))
                                {
                                    <div class="form-group">
                                        <div class="input-group text-center">

                                            <input name="SearchString" type="search" class="form-control border-dark" placeholder="Tìm kiếm sản phẩm..." required>
                                            <button type="submit" class="btn btn-outline-dark"><i class="fas fa-search"></i></button>

                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-lg-auto text-center text-lg-left header-item-holder">
                                <a href="#" class="header-item">
                                    @*<i class="fas fa-heart me-2"></i><span id="header-favorite">0</span>*@
                                </a>
                                <a href="cart.html" class="header-item">
                                    @Html.Partial("~/Views/GioHang/GioHangPartial.cshtml")
                                    @*<i class="fas fa-shopping-bag me-2"></i><span id="header-qty" class="me-3">2</span>
                                        <i class="fas fa-money-bill-wave me-2"></i><span id="header-price">0 đ</span>*@
                                </a>
                            </div>
                        </div>

                        <!-- Nav -->
                        <div class="row">
                            <nav class="navbar navbar-expand-lg navbar-light bg-white col-12">
                                <button class="navbar-toggler d-lg-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="mainNav">
                                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Trang chủ <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="electronics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-arrow-circle-right"></i> Hãng Laptop</a>
                                            <div class="dropdown-menu" aria-labelledby="electronics">
                                                @foreach (var item in home.GetListHang())
                                                {
                                                    <a class="dropdown-item" href="@Url.Action("ListLaptopTheoHangId","Home", new { id = item.mahang})">@item.tenhang</a>
                                                }

                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="fashion" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-address-book"></i> Nhu cầu sử dụng</a>
                                            <div class="dropdown-menu" aria-labelledby="fashion">
                                                @foreach (var item in home.GetListNhuCau())
                                                {
                                                    <a class="dropdown-item" href="@Url.Action("ListLaptopTheoNhuCauById","Home", new { id = item.manhucau})">@item.tennhucau</a>
                                                }
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="books" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-blog"></i> Blog</a>
                                            <div class="dropdown-menu" aria-labelledby="books">
                                                @foreach (var item in home.GetListChuDe())
                                                {
                                                    <a class="dropdown-item" href="@Url.Action("ListBaiVietTheoChuDeId","Home", new { id = item.machude})">@item.tenchude</a>
                                                }
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("About","Home")"><i class="fa fa-book"></i> Giới thiệu</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Contact","Home")"><i class="fa fa-address-card"></i> Liên hệ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("QuangCao","Home")"><i class="fa fa-atlas"></i> Đặt quảng cáo</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Nav -->

                    </div>
                    <!-- Header -->

                </header>
            </div>

            <div class="col-12">
                <!-- Main Content -->
                @RenderBody()
                <!-- Main Content -->
            </div>

            <div class="col-12 align-self-end">
                <!-- Footer -->
                <footer class="row">
                    <div class="col-12 bg-dark text-white pb-3 pt-5">
                        <div class="row">
                            <div class="col-lg-2 col-sm-4 text-center text-sm-left mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="footer-logo">
                                            <a href="index.html">iLaptop</a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <address>
                                            Quận 1<br>
                                            Tp. HCM, Việt Nam
                                        </address>
                                    </div>
                                    <div class="col-12">
                                        <a href="https://www.facebook.com/huynh2357/" class="social-icon" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://twitter.com/Huynhjs69" class="social-icon" target="_blank"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.pinterest.com/fulldevs/_saved/" class="social-icon" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="https://www.instagram.com/huynh14097/" class="social-icon" target="_blank"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.youtube.com/watch?v=RQZh23h7E48&t=52s" class="social-icon" target="_blank"><i class="fab fa-youtube"></i></a>
                                        <a href="https://github.com/huynhit24/" class="social-icon" target="_blank"><i class="fab fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-8 text-center text-sm-left mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12 text-uppercase">
                                        <h4>Về iLaptop</h4>
                                    </div>
                                    <div class="col-12 text-justify">
                                        <p>iLaptop - chuyên bán lẻ sỉ laptop uy tín cả nước. Chúng ta có nhiều mẫu mã hãng nhu cầu sử dụng đáp ứng được đầy đủ yêu cầu sử dụng của quý khách. Khách được nhân viên chăm sóc tư vấn sản phẩm 24/7.</p>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="~/Content/images/dang-ky-bo-cong-thuong.png" alt="dang-ky-bo-cong-thuong" class="text-center">
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <img src="~/Content/images/logo-momo.png" alt="dang-ky-bo-cong-thuong" class="text-center" style="width:50px;height:50px;margin-left:10px;">
                                            </div>
                                            <div class="col-md-3">
                                                <img src="~/Content/images/payoo-payment.jpg" alt="paypal" class="text-center">
                                                <img src="~/Content/images/master-card-payment.jpg" alt="master-card" class="text-center">
                                            </div>
                                            <div class="col-md-3">
                                                <img src="~/Content/images/atm-payment.jpg" alt="atm" class="text-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-3 col-5 ms-lg-auto ms-sm-0 ms-auto mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12 text-uppercase">
                                        <h4>Liên kết</h4>
                                    </div>
                                    <div class="col-12">
                                        <ul class="footer-nav">
                                            <li>
                                                <a href="@Url.Action("Index","Home")">Trang chủ</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Contact","Home")">Liên hệ</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("About","Home")">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#">Chính sách bảo mật</a>
                                            </li>
                                            <li>
                                                <a href="#">Điều khoản và điều kiện</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-2 col-4 me-auto mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12 text-uppercase text-underline">
                                        <h4>Trợ giúp</h4>
                                    </div>
                                    <div class="col-12">
                                        <ul class="footer-nav">
                                            <li>
                                                <a href="#">FAQs</a>
                                            </li>
                                            <li>
                                                <a href="#">Bảo hành</a>
                                            </li>
                                            <li>
                                                <a href="#">HD Thanh toán</a>
                                            </li>
                                            <li>
                                                <a href="#">HD Mua hàng</a>
                                            </li>
                                            <li>
                                                <a href="#">Liên hệ hợp tác</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center text-sm-left">
                                <div class="row">
                                    <div class="col-12 text-uppercase">
                                        <h4>Tin tức</h4>
                                    </div>
                                    <div class="col-12">
                                        <form action="#">
                                            <div class="mb-3">
                                                <input type="text" class="form-control" placeholder="Nhập địa chỉ email..." required>
                                            </div>
                                            <div class="mb-3">
                                                <button class="btn btn-danger text-uppercase">Đăng ký</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- Footer -->
            </div>
        </div>

    </div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/62402d2e0bfe3f4a876fe5bf/1fv5b0vji';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!--End of Tawk.to Script-->
    <div class="zalo-chat-widget" data-oaid="579745863508352884" data-welcome-message="Chúng tôi có thể giúp gì cho bạn!" data-autopopup="0" data-width="" data-height=""></div>
    <div class='phonering-alo-phone phonering-alo-green phonering-alo-show' id='phonering-alo-phoneIcon'>

        <div class='phonering-alo-ph-circle'></div>

        <div class='phonering-alo-ph-circle-fill'></div>

        <a class='pps-btn-img hidden_lg' href='tel:0365204529' title='Liên hệ'>

            <div class='phonering-alo-ph-img-circle'>

            </div>

            <div class='label-phone'>0365204529</div>

        </a>

        <a class='pps-btn-img hidden_mobile btn-call' href='tel:0365204529;' title='Liên hệ'>

            <div class='phonering-alo-ph-img-circle'>

            </div>

            <div class='label-phone'>0365204529</div>

        </a>

    </div>
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/script.js"></script>
    <script type="text/javascript" src="~/Content/js/scripts.js"></script>

    @RenderSection("scripts", required: false)
    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
</body>
</html>