@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (Session["TaiKhoan"] != null || Session["taikhoanadmin"] != null)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "pull-right" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-auto">
                <ul class="top-nav">
                    <li>
                        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li>
                        @Html.ActionLink("Đơn hàng của bạn", "DonHangDaMua", "Home")
                    </li>
                    <li><a class="btn-sm btn-outline-danger" href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
                </ul>
            </div>
        }
    }
    else
    {
        <div class="col-auto">
            <ul class="top-nav">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        </div>
    }

}
else
{
    <div class="col-auto">
        <ul class="top-nav">
            <li class="btn-sm btn-outline-primary">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li class="btn-sm btn-danger">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </div>
}
