@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "pull-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-auto">
            <ul class="top-nav">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li>
                    @Html.ActionLink("Đơn hàng của bạn", "DonHangDaMua", "Home")
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
            </ul>
        </div>

    }
}
else
{
    <div class="col-auto">
        <ul class="top-nav">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </div>
}
