@model Shop.EF.QuangCao

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}
@Html.Partial("_MessageAlert")
<div class="container-sm container-fluid">
    <div class="p-5" style="background-color: white">
        <h2>Xem chi tiết quảng cáo</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Tên quảng cáo")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tenqc)
                </dd>

                <dt>
                    @Html.DisplayName("Tên công ty")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tencongty)
                </dd>

                <dt>
                    @Html.DisplayName("Hình nền")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hinhnen)
                </dd>

                <dt>
                    @Html.DisplayName("Link")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.link)
                </dd>

                <dt>
                    @Html.DisplayName("Ngày bắt đầu")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ngaybatdau)
                </dd>

                <dt>
                    @Html.DisplayName("Ngày hết hạn")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ngayhethan)
                </dd>

                <dt>
                    @Html.DisplayName("Trạng thái")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.trangthai)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Sửa", "Edit", new { id = Model.maqc }) |
            @Html.ActionLink("Quay lại", "Index", "QuangCao")
        </p>
    </div>
</div>