@model Shop.EF.DonHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thanhtoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanhtoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaohang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaohang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaydat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaydat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaygiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaygiao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
