@model IEnumerable<Shop.EF.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thanhtoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaohang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaydat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaygiao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thanhtoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaohang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaydat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaygiao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.madon }) |
            @Html.ActionLink("Details", "Details", new { id=item.madon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.madon })
        </td>
    </tr>
}

</table>
