@model IEnumerable<Shop.EF.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<body class="hold-transition sidebar-mini">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 style="text-align:center;color:#fff">Đơn hàng</h2>
                            <a class="glass-button btn-outline-danger" style="background-color: rgb(232 221 13 / 0.48)" href="@Url.Action("Create","DonHang")"><img src="~/Content/images/contract.png" width="20" height="20" /> Tạo mới</a>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr style="background-color: #189f09; color: white;">
                                        <th class="text-center" style="vertical-align:middle">
                                            @*@Html.DisplayNameFor(model => model.AspNetUser.Email)*@
                                            @Html.DisplayName("Email mua hàng")
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            @*@Html.DisplayNameFor(model => model.thanhtoan)*@
                                            @Html.DisplayName("Thanh toán")
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            @*@Html.DisplayNameFor(model => model.giaohang)*@
                                            @Html.DisplayName("Tình trạng giao hàng")
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            @*@Html.DisplayNameFor(model => model.ngaydat)*@
                                            @Html.DisplayName("Ngày đặt")
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            @*@Html.DisplayNameFor(model => model.ngaygiao)*@
                                            @Html.DisplayName("Ngày giao")
                                        </th>
                                        <th class="text-center" style="vertical-align:middle">
                                            Thao tác
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @*@Html.DisplayFor(modelItem => item.thanhtoan)*@
                                                @if (item.thanhtoan == true)
                                                {
                                                    <p style="color: green;font-weight: bold;"><i class="fa fa-check-circle"></i> Đã thanh toán</p>
                                                }
                                                else
                                                {
                                                    <p style="color: blue;font-weight: bold;"><i class="fa fa-info-circle"></i> Chưa thanh toán</p>
                                                }
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @*@Html.DisplayFor(modelItem => item.giaohang)*@
                                                @if (item.giaohang == true)
                                                {
                                                    <p style="color: black;font-weight: bold;"><i class="fa fa-check-square"></i> Đã giao hàng</p>
                                                }
                                                else
                                                {
                                                    <p style="color: red;font-weight: bold;"><i class="fa fa-truck"></i> Đang giao hàng</p>
                                                }
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.ngaydat)
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.ngaygiao)
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                @*@Html.ActionLink("Edit", "Edit", new { id = item.madon }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.madon }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.madon })*@
                                                <a href="@Url.Action("Edit","DonHang", new { id = item.madon })"><img style="width:40px;height:40px;" src="~/Areas/Administrator/Data/images/seo.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Sửa" /></a>
                                                <a href="@Url.Action("Details","DonHang", new { id = item.madon })"><img style="width:40px;height:40px;" src="~/Areas/Administrator/Data/images/eye.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem" /></a>
                                                <a href="@Url.Action("Delete","DonHang", new { id = item.madon })"><img style="width:40px;height:40px;" src="~/Areas/Administrator/Data/images/delete.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa" /></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>