@model Shop.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<header class="py-5" style="background: linear-gradient(90deg, rgba(0,212,200,1) 0%, rgba(200,9,121,1) 35%, rgba(0,212,255,1) 100%); max-width: 1200px; margin-left: auto; margin-right: auto;">
    <div class="container px-1 px-lg-1 my-1">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">@ViewBag.Title</h1>
        </div>
    </div>
</header>

<div class="container-fluid" style="max-width: 1200px; margin-left: auto; margin-right: auto;">
    <!--Banner dọc 2 bên-->
    <div class="sticky-sidebar active">
        <div class="banner-left">
            <img src="~/Content/images/trai-79x271-9.png" alt="Alternate Text" width="79" height="271" />
        </div>
    </div>
    <div class="sticky-sidebar active">
        <div class="banner-right">
            <img src="~/Content/images/Phai-79x271.png" alt="Alternate Text" width="79" height="271" />
        </div>
    </div>
    <!--End-->
    <div class="row card-body">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto bg-white py-4 mb-4 formDiv-orange" style="margin-top: 20px;">

            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="m-3 text-center">Điền vào Form đổi mật khẩu</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group m-3">
                    @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
                    @Html.Label("Mật khẩu hiện tại (*)", new { @class = "col-md-7 control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group m-3">
                    @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
                    @Html.Label("Mật khẩu mới (*)", new { @class = "col-md-7 control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group m-3">
                    @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                    @Html.Label("Xác nhận mật khẩu (*)", new { @class = "col-md-7 control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group m-3">
                    <div class="col-md-offset-2 col-md-12 text-center" style="margin-top: 20px;">
                        <input type="submit" value="Lưu lại" class="btn btn-outline-danger border-3" />
                    </div>
                </div>
            }
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
