
@using Shop.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
    HomeModel home = new HomeModel();

}
<!-- Favicon -->
<link rel="shortcut icon" href="~/Areas/Administrator/Data/assets/images/logo/favicon.png">

<!-- page css -->
<!-- Core css -->
<link href="~/Areas/Administrator/Data/assets/css/app.min.css" rel="stylesheet">
<style>
    .modal-backdrop {
        opacity: 0.3 !important;
    }
</style>

@Html.Partial("_MessageAlert")
<!-- Button trigger modal -->
<div class="sticky-sidebar active">
    <div class="bannner laptopzoom">
        <button type="button" style="border: none;" data-toggle="modal" data-target="#exampleModalCenter">
            <img src="~/Content/images/dashboard-session.png" alt="Alternate Text" width="79" height="79" />
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" style="vertical-align: middle; margin: 20px; background-color: transparent;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Hệ thống</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md" style="background-color: #EAF2FF;color: blue; font-weight: bold; border-radius: 12px;padding: 18px;margin:18px;">
                        <p style="font-weight: bold; color: red;font-size: 2rem;">@ViewBag.Online <img src="~/Content/images/user.png" alt="Alternate Text" height="60" width="60" style="margin-left:80px;" /> </p> Đang Online
                    </div>
                    <div class="col-md" style="background-color: #b3eae0;color: green;font-weight: bold; border-radius: 12px;padding: 18px;margin:18px;">
                        <p style="font-weight: bold; color: red;font-size: 2rem;">@ViewBag.SoNguoiTruyCap <img src="~/Content/images/fairy.png" alt="Alternate Text" height="60" width="60" style="margin-left:80px;" /></p> Truy cập Website
                    </div>
                    <div class="col-md" style="background-color: #b3eae0;color: green;font-weight: bold; border-radius: 12px;padding: 18px;margin:18px;">
                        <p style="font-weight: bold; color: red;font-size: 2rem;">@home.CountInvoiceCancel() <img src="~/Areas/Administrator/Data/images/invoice-cance-list.png" alt="Alternate Text" height="60" width="60" style="margin-left:80px;" /></p> Đơn hàng đã hủy
                    </div>
                </div>
                <div class="row">
                    <div class="col-md" style="background-color: #EAF2FF;color: blue; font-weight: bold; border-radius: 12px;padding: 18px;margin:18px;">
                        <p style="font-weight: bold; color: red;font-size: 2rem;"> @home.DemLaptopMoiNhat() <img src="~/Content/images/login-moi-nhat.png" alt="Alternate Text" height="60" width="60" style="margin-left:80px;" /></p>Laptop mới nhập <i class="fa fa-eye"></i>
                    </div>
                    <div class="col-md" style="background-color: #e3fce2;color: green;font-weight: bold; border-radius: 12px;padding: 18px;margin:18px;">
                        <p style="font-weight: bold; color: red;font-size: 2rem;"> @home.DemLaptopGiaRe() <img src="~/Content/images/laptop-gia-re.png" alt="Alternate Text" height="60" width="60" style="margin-left:80px;" /></p>Laptop giá rẻ (<= 15tr) <i class="fa fa-eye"></i>
                    </div>
                    <div class="col-md" style="background-color: #b8f1f7;color: blue; font-weight: bold; border-radius: 12px;padding: 18px;margin:18px;">
                        <p style="font-weight: bold; color: red;font-size: 2rem;">2 <img src="~/Content/images/laptop-ban-chay.png" alt="Alternate Text" height="60" width="60" style="margin-left:80px;" /></p>Laptop bán chạy <i class="fa fa-eye"></i>
                    </div>
                    <div class="col-md" style="background-color: #fcfcde;color: green;font-weight: bold; border-radius: 12px;padding: 18px;margin:18px;">
                        <p style="font-weight: bold; color: red;font-size: 2rem;">3 <img src="~/Content/images/laptop-comment.png" alt="Alternate Text" height="60" width="60" style="margin-left:80px;" /></p>Đánh giá nhiều <i class="fa fa-eye"></i>
                    </div>
                    <div class="col-md" style="background-color: #fce5fa;color: blue;font-weight: bold; border-radius: 12px;padding: 18px;margin:18px;">
                        <p style="font-weight: bold; color: red;font-size: 2rem;"> @home.DemLaptopGiaCao() <img src="~/Content/images/laptop-gia-max.png" alt="Alternate Text" height="60" width="60" style="margin-left:80px;" /></p>Laptop giá cao (>= 30tr) <i class="fa fa-eye"></i>
                    </div>
                    <div class="col-md" style="background-color: #fbf1e8;color: green;font-weight: bold; border-radius: 12px;padding: 18px;margin:18px;">
                        <p style="font-weight: bold; color: red;font-size: 2rem;">7  <img src="~/Content/images/laptop-web-traffic.png" alt="Alternate Text" height="60" width="60" style="margin-left:80px;" /></p>Cấu hình khủng <i class="fa fa-eye"></i>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Page Container START -->
<div class="container" style="margin-top: 10px;">



    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card laptopzoom">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-icon avatar-lg avatar-blue">
                                <i class="anticon anticon-dollar"></i>
                            </div>
                            <div class="m-l-15">
                                <h3 class="m-b-0">@home.LoiNhuan().ToString("#,##")</h3>
                                <p class="m-b-0 text-muted">Lợi nhuận (VNĐ)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card laptopzoom">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-icon avatar-lg avatar-cyan">
                                <i class="anticon anticon-laptop"></i>
                            </div>
                            <div class="m-l-15">
                                <h2 class="m-b-0">@home.DemSanPhamBan().ToString("#,##")</h2>
                                <p class="m-b-0 text-muted">Laptop</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card laptopzoom">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-icon avatar-lg avatar-gold">
                                <i class="anticon anticon-profile"></i>
                            </div>
                            <div class="m-l-15">
                                <h3 class="m-b-0">@home.DemHoaDon().ToString("#,##")</h3>
                                <p class="m-b-0 text-muted">Đơn đặt hàng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card laptopzoom">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-icon avatar-lg avatar-purple">
                                <i class="anticon anticon-user"></i>
                            </div>
                            <div class="m-l-15">
                                <h3 class="m-b-0">@home.DemKhachHang().ToString("#,##")</h3>
                                <p class="m-b-0 text-muted">Khách hàng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="card laptopzoom">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Top 4 Laptop bán chạy</h5>
                            @*<div>
                                    <div class="btn-group">
                                        <button class="btn btn-default active">
                                            <span>Tháng</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span>Năm</span>
                                        </button>
                                    </div>
                                </div>*@
                        </div>
                        <div class="m-t-30" style="height: 345px; margin-top: 5px;">
                            @*<canvas class="chart" id="revenue-chart"></canvas>*@
                            @*<canvas class="chart" id="bar-chart"></canvas>*@
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Laptop</th>
                                            <th>Bán</th>
                                            <th>Doanh số</th>
                                            <th style="max-width: 70px">Hàng còn lại</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="media align-items-center">
                                                    <div class="avatar avatar-image rounded">
                                                        <img src="~/Areas/Administrator/Data/assets/images/others/thumb-9.jpg" alt="">
                                                    </div>
                                                    <div class="m-l-10">
                                                        <span>Gray Sofa</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>81</td>
                                            <td>$1,912.00</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="progress progress-sm w-100 m-b-0">
                                                        <div class="progress-bar bg-success" style="width: 82%"></div>
                                                    </div>
                                                    <div class="m-l-10">
                                                        82
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="media align-items-center">
                                                    <div class="avatar avatar-image rounded">
                                                        <img src="~/Areas/Administrator/Data/assets/images/others/thumb-10.jpg" alt="">
                                                    </div>
                                                    <div class="m-l-10">
                                                        <span>Gray Sofa</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>26</td>
                                            <td>$1,377.00</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="progress progress-sm w-100 m-b-0">
                                                        <div class="progress-bar bg-success" style="width: 61%"></div>
                                                    </div>
                                                    <div class="m-l-10">
                                                        61
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="media align-items-center">
                                                    <div class="avatar avatar-image rounded">
                                                        <img src="~/Areas/Administrator/Data/assets/images/others/thumb-11.jpg" alt="">
                                                    </div>
                                                    <div class="m-l-10">
                                                        <span>Wooden Rhino</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>71</td>
                                            <td>$9,212.00</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="progress progress-sm w-100 m-b-0">
                                                        <div class="progress-bar bg-danger" style="width: 23%"></div>
                                                    </div>
                                                    <div class="m-l-10">
                                                        23
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="media align-items-center">
                                                    <div class="avatar avatar-image rounded">
                                                        <img src="~/Areas/Administrator/Data/assets/images/others/thumb-12.jpg" alt="">
                                                    </div>
                                                    <div class="m-l-10">
                                                        <span>Red Chair</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>79</td>
                                            <td>$1,298.00</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="progress progress-sm w-100 m-b-0">
                                                        <div class="progress-bar bg-warning" style="width: 54%"></div>
                                                    </div>
                                                    <div class="m-l-10">
                                                        54
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card laptopzoom">
                    <div class="card-body">
                        <h5 class="m-b-0">Số liệu</h5>
                        <div class="m-v-60 text-center" style="height: 200px">
                            <canvas class="chart" id="customers-chart"></canvas>
                        </div>
                        <div class="row border-top p-t-25">
                            <div class="col-4">
                                <div class="d-flex justify-content-center">
                                    <div class="media align-items-center">
                                        <span class="badge badge-success badge-dot m-r-10"></span>
                                        <div class="m-l-5">
                                            <h4 class="m-b-0">@home.CountPost()</h4>
                                            <p class="m-b-0 muted">Bài viết</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="d-flex justify-content-center">
                                    <div class="media align-items-center">
                                        <span class="badge badge-secondary badge-dot m-r-10"></span>
                                        <div class="m-l-5">
                                            <h4 class="m-b-0">@home.CountComment()</h4>
                                            <p class="m-b-0 muted">Comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="d-flex justify-content-center">
                                    <div class="media align-items-center">
                                        <span class="badge badge-warning badge-dot m-r-10"></span>
                                        <div class="m-l-5">
                                            <h4 class="m-b-0">@home.CountDanhGia()</h4>
                                            <p class="m-b-0 muted">Vote</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Doanh thu</h5>
                            @*<div>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-default">View All</a>
                                </div>*@
                        </div>
                        @*<div class="m-t-30">
                                <div class="d-md-flex">
                                    <div class="pr-4 m-v-10 border-right border-hide-md">
                                        <p class="m-b-0">Doanh thu</p>
                                        <h3 class="m-b-0">
                                            <span>$58,323</span>
                                            <span class="text-success m-l-10 font-size-14">+6.71%</span>
                                        </h3>
                                    </div>
                                    <div class="px-md-4 m-v-10 border-right border-hide-md">
                                        <p class="m-b-0">Bán hàng</p>
                                        <h3 class="m-b-0">
                                            <span>$17,523</span>
                                            <span class="text-danger m-l-10 font-size-14">+1.82%</span>
                                        </h3>
                                    </div>
                                    <div class="px-md-4 m-v-10">
                                        <p class="m-b-0">Phí tổn</p>
                                        <h3 class="m-b-0">
                                            <span>$8,217</span>
                                            <span class="text-success m-l-10 font-size-14">+11.2%</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>*@
                        <div class="m-t-50" style="height: 240px">
                            <canvas class="chart" id="revenue-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Top 4 Khách VIP</h5>
                            <div>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-default">View All</a>
                                </div>
                        </div>
                        <div class="m-t-30">
                            <ul class="list-group list-group-flush">
                                @foreach (var item in home.GET_TOP_4_USERS_VIP())
                                {
                                    <li class="list-group-item p-h-0">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="d-flex">
                                                <div class="avatar avatar-image m-r-15">
                                                    <img src="assets/images/others/thumb-9.jpg" alt="">
                                                </div>
                                                <div>
                                                    <h6 class="m-b-0">
                                                        <a href="javascript:void(0);" class="text-dark"> Gray Sofa</a>
                                                    </h6>
                                                    <span class="text-muted font-size-13">Home Decoration</span>
                                                </div>
                                            </div>
                                            <span class="badge badge-pill badge-cyan font-size-12">
                                                <span class="font-weight-semibold m-l-5">+18.3%</span>
                                            </span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        @*<div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h2 class="m-b-0">$17,267</h2>
                                    <p class="m-b-0 text-muted">Avg.Profit</p>
                                </div>
                                <div>
                                    <span class="badge badge-pill badge-cyan font-size-12">
                                        <span class="font-weight-semibold m-l-5">+5.7%</span>
                                    </span>
                                </div>
                            </div>
                            <div class="m-t-50" style="height: 375px">
                                <canvas class="chart" id="avg-profit-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5>Top Product</h5>
                                <div>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-default">View All</a>
                                </div>
                            </div>
                            <div class="m-t-30">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Sales</th>
                                                <th>Earning</th>
                                                <th style="max-width: 70px">Stock Left</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="media align-items-center">
                                                        <div class="avatar avatar-image rounded">
                                                            <img src="~/Areas/Administrator/Data/assets/images/others/thumb-9.jpg" alt="">
                                                        </div>
                                                        <div class="m-l-10">
                                                            <span>Gray Sofa</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>81</td>
                                                <td>$1,912.00</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="progress progress-sm w-100 m-b-0">
                                                            <div class="progress-bar bg-success" style="width: 82%"></div>
                                                        </div>
                                                        <div class="m-l-10">
                                                            82
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="media align-items-center">
                                                        <div class="avatar avatar-image rounded">
                                                            <img src="~/Areas/Administrator/Data/assets/images/others/thumb-10.jpg" alt="">
                                                        </div>
                                                        <div class="m-l-10">
                                                            <span>Gray Sofa</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>26</td>
                                                <td>$1,377.00</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="progress progress-sm w-100 m-b-0">
                                                            <div class="progress-bar bg-success" style="width: 61%"></div>
                                                        </div>
                                                        <div class="m-l-10">
                                                            61
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="media align-items-center">
                                                        <div class="avatar avatar-image rounded">
                                                            <img src="~/Areas/Administrator/Data/assets/images/others/thumb-11.jpg" alt="">
                                                        </div>
                                                        <div class="m-l-10">
                                                            <span>Wooden Rhino</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>71</td>
                                                <td>$9,212.00</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="progress progress-sm w-100 m-b-0">
                                                            <div class="progress-bar bg-danger" style="width: 23%"></div>
                                                        </div>
                                                        <div class="m-l-10">
                                                            23
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="media align-items-center">
                                                        <div class="avatar avatar-image rounded">
                                                            <img src="~/Areas/Administrator/Data/assets/images/others/thumb-12.jpg" alt="">
                                                        </div>
                                                        <div class="m-l-10">
                                                            <span>Red Chair</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>79</td>
                                                <td>$1,298.00</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="progress progress-sm w-100 m-b-0">
                                                            <div class="progress-bar bg-warning" style="width: 54%"></div>
                                                        </div>
                                                        <div class="m-l-10">
                                                            54
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="media align-items-center">
                                                        <div class="avatar avatar-image rounded">
                                                            <img src="~/Areas/Administrator/Data/assets/images/others/thumb-13.jpg" alt="">
                                                        </div>
                                                        <div class="m-l-10">
                                                            <span>Wristband</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>60</td>
                                                <td>$7,376.00</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="progress progress-sm w-100 m-b-0">
                                                            <div class="progress-bar bg-success" style="width: 76%"></div>
                                                        </div>
                                                        <div class="m-l-10">
                                                            76
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="m-b-0">Latest Upload</h5>
                                <div>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-default">View All</a>
                                </div>
                            </div>
                            <div class="m-t-30">
                                <div class="m-b-25">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="media align-items-center">
                                            <div class="font-size-35">
                                                <i class="anticon anticon-file-word text-primary"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h6 class="m-b-0">
                                                    <a class="text-dark" href="javascript:void(0);">Documentation.doc</a>
                                                </h6>
                                                <p class="text-muted m-b-0">1.2MB</p>
                                            </div>
                                        </div>
                                        <div class="dropdown dropdown-animated scale-left">
                                            <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                                <i class="anticon anticon-ellipsis"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-eye"></i>
                                                    <span class="m-l-10">View</span>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-download"></i>
                                                    <span class="m-l-10">Download</span>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-delete"></i>
                                                    <span class="m-l-10">Remove</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-b-25">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="media align-items-center">
                                            <div class="font-size-35">
                                                <i class="anticon anticon-file-excel text-success"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h6 class="m-b-0">
                                                    <a class="text-dark" href="javascript:void(0);">Expensess.xls</a>
                                                </h6>
                                                <p class="text-muted m-b-0">518KB</p>
                                            </div>
                                        </div>
                                        <div class="dropdown dropdown-animated scale-left">
                                            <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                                <i class="anticon anticon-ellipsis"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-eye"></i>
                                                    <span class="m-l-10">View</span>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-download"></i>
                                                    <span class="m-l-10">Download</span>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-delete"></i>
                                                    <span class="m-l-10">Remove</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-b-25">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="media align-items-center">
                                            <div class="font-size-35">
                                                <i class="anticon anticon-file-text text-secondary"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h6 class="m-b-0">
                                                    <a class="text-dark" href="javascript:void(0);">Receipt.txt</a>
                                                </h6>
                                                <p class="text-muted m-b-0">355KB</p>
                                            </div>
                                        </div>
                                        <div class="dropdown dropdown-animated scale-left">
                                            <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                                <i class="anticon anticon-ellipsis"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-eye"></i>
                                                    <span class="m-l-10">View</span>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-download"></i>
                                                    <span class="m-l-10">Download</span>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-delete"></i>
                                                    <span class="m-l-10">Remove</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-b-25">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="media align-items-center">
                                            <div class="font-size-35">
                                                <i class="anticon anticon-file-word text-primary"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h6 class="m-b-0">
                                                    <a class="text-dark" href="javascript:void(0);">Project Requirement.doc</a>
                                                </h6>
                                                <p class="text-muted m-b-0">1.6MB</p>
                                            </div>
                                        </div>
                                        <div class="dropdown dropdown-animated scale-left">
                                            <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                                <i class="anticon anticon-ellipsis"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-eye"></i>
                                                    <span class="m-l-10">View</span>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-download"></i>
                                                    <span class="m-l-10">Download</span>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-delete"></i>
                                                    <span class="m-l-10">Remove</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-b-25">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="media align-items-center">
                                            <div class="font-size-35">
                                                <i class="anticon anticon-file-pdf text-danger"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h6 class="m-b-0">
                                                    <a class="text-dark" href="javascript:void(0);">App Flow.pdf</a>
                                                </h6>
                                                <p class="text-muted m-b-0">19.8MB</p>
                                            </div>
                                        </div>
                                        <div class="dropdown dropdown-animated scale-left">
                                            <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                                <i class="anticon anticon-ellipsis"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-eye"></i>
                                                    <span class="m-l-10">View</span>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-download"></i>
                                                    <span class="m-l-10">Download</span>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-delete"></i>
                                                    <span class="m-l-10">Remove</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="media align-items-center">
                                            <div class="font-size-35">
                                                <i class="anticon anticon-file-ppt text-warning"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h6 class="m-b-0">
                                                    <a class="text-dark" href="javascript:void(0);">Presentation.ppt</a>
                                                </h6>
                                                <p class="text-muted m-b-0">2.7MB</p>
                                            </div>
                                        </div>
                                        <div class="dropdown dropdown-animated scale-left">
                                            <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                                <i class="anticon anticon-ellipsis"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-eye"></i>
                                                    <span class="m-l-10">View</span>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-download"></i>
                                                    <span class="m-l-10">Download</span>
                                                </button>
                                                <button class="dropdown-item" type="button">
                                                    <i class="anticon anticon-delete"></i>
                                                    <span class="m-l-10">Remove</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="m-b-0">Latest Upload</h5>
                                <div>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-default">View All</a>
                                </div>
                            </div>
                            <div class="m-t-30">
                                <div class="overflow-y-auto scrollable relative" style="height: 437px">
                                    <ul class="timeline p-t-10 p-l-10">
                                        <li class="timeline-item">
                                            <div class="timeline-item-head">
                                                <div class="avatar avatar-text avatar-sm bg-primary">
                                                    <span>V</span>
                                                </div>
                                            </div>
                                            <div class="timeline-item-content">
                                                <div class="m-l-10">
                                                    <h5 class="m-b-5">Virgil Gonzales</h5>
                                                    <p class="m-b-0">
                                                        <span class="font-weight-semibold">Complete task </span>
                                                        <span class="m-l-5"> Prototype Design</span>
                                                    </p>
                                                    <span class="text-muted font-size-13">
                                                        <i class="anticon anticon-clock-circle"></i>
                                                        <span class="m-l-5">10:44 PM</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-item">
                                            <div class="timeline-item-head">
                                                <div class="avatar avatar-text avatar-sm bg-success">
                                                    <span>L</span>
                                                </div>
                                            </div>
                                            <div class="timeline-item-content">
                                                <div class="m-l-10">
                                                    <h5 class="m-b-5">Lilian Stone</h5>
                                                    <p class="m-b-0">
                                                        <span class="font-weight-semibold">Attached file </span>
                                                        <span class="m-l-5"> Mockup Zip</span>
                                                    </p>
                                                    <span class="text-muted font-size-13">
                                                        <i class="anticon anticon-clock-circle"></i>
                                                        <span class="m-l-5">8:34 PM</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-item">
                                            <div class="timeline-item-head">
                                                <div class="avatar avatar-text avatar-sm bg-warning">
                                                    <span>E</span>
                                                </div>
                                            </div>
                                            <div class="timeline-item-content">
                                                <div class="m-l-10">
                                                    <h5 class="m-b-5">Erin Gonzales</h5>
                                                    <p class="m-b-0">
                                                        <span class="font-weight-semibold">Commented  </span>
                                                        <span class="m-l-5"> 'This is not our work!'</span>
                                                    </p>
                                                    <span class="text-muted font-size-13">
                                                        <i class="anticon anticon-clock-circle"></i>
                                                        <span class="m-l-5">8:34 PM</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-item">
                                            <div class="timeline-item-head">
                                                <div class="avatar avatar-text avatar-sm bg-primary">
                                                    <span>R</span>
                                                </div>
                                            </div>
                                            <div class="timeline-item-content">
                                                <div class="m-l-10">
                                                    <h5 class="m-b-5">Riley Newman</h5>
                                                    <p class="m-b-0">
                                                        <span class="font-weight-semibold">Commented  </span>
                                                        <span class="m-l-5"> 'Hi, please done this before tommorow'</span>
                                                    </p>
                                                    <span class="text-muted font-size-13">
                                                        <i class="anticon anticon-clock-circle"></i>
                                                        <span class="m-l-5">8:34 PM</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-item">
                                            <div class="timeline-item-head">
                                                <div class="avatar avatar-text avatar-sm bg-danger">
                                                    <span>P</span>
                                                </div>
                                            </div>
                                            <div class="timeline-item-content">
                                                <div class="m-l-10">
                                                    <h5 class="m-b-5">Pamela Wanda</h5>
                                                    <p class="m-b-0">
                                                        <span class="font-weight-semibold">Removed  </span>
                                                        <span class="m-l-5"> a file</span>
                                                    </p>
                                                    <span class="text-muted font-size-13">
                                                        <i class="anticon anticon-clock-circle"></i>
                                                        <span class="m-l-5">8:34 PM</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-item">
                                            <div class="timeline-item-head">
                                                <div class="avatar avatar-text avatar-sm bg-secondary">
                                                    <span>M</span>
                                                </div>
                                            </div>
                                            <div class="timeline-item-content">
                                                <div class="m-l-10">
                                                    <h5 class="m-b-5">Marshall Nichols</h5>
                                                    <p class="m-b-0">
                                                        <span class="font-weight-semibold">Create   </span>
                                                        <span class="m-l-5"> this project</span>
                                                    </p>
                                                    <span class="text-muted font-size-13">
                                                        <i class="anticon anticon-clock-circle"></i>
                                                        <span class="m-l-5">5:21 PM</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="m-b-0">Task</h5>
                                <div>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-default">View All</a>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-10">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tab-today">Today</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-week">Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-month">Month</a>
                                </li>
                            </ul>
                            <div class="tab-content m-t-15">
                                <div class="tab-pane card-body fade show active" id="tab-today">
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-today-1" type="checkbox">
                                                <label for="task-today-1" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Define users and workflow</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">A cheeseburger is more than sandwich</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-today-2" type="checkbox" checked="">
                                                <label for="task-today-2" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Schedule jobs</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">I'm gonna build me an airport</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-today-3" type="checkbox" checked="">
                                                <label for="task-today-3" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Extend the data model</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">Let us wax poetic about cheeseburger</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-today-4" type="checkbox">
                                                <label for="task-today-4" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Change interface</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">Efficiently unleash cross-media information</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-today-5" type="checkbox">
                                                <label for="task-today-5" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Create databases</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">Here's the story of a man named Brady</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane card-body fade" id="tab-week">
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-week-1" type="checkbox">
                                                <label for="task-week-1" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Verify connectivity</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">Bugger bag egg's old boy willy jolly</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-week-2" type="checkbox">
                                                <label for="task-week-2" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Order console machines</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">Value proposition alpha crowdsource</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-week-3" type="checkbox" checked="">
                                                <label for="task-week-3" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Customize Template</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">Do you see any Teletubbies in here</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-week-4" type="checkbox" checked="">
                                                <label for="task-week-4" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Batch schedule</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">Trillion a very small stage in a vast</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-week-5" type="checkbox" checked="">
                                                <label for="task-week-5" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Prepare implementation</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">Drop in axle roll-in rail slide</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane card-body fade" id="tab-month">
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-month-1" type="checkbox">
                                                <label for="task-month-1" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Create user groups</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">Nipperkin run a rig ballast chase</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-month-2" type="checkbox" checked="">
                                                <label for="task-month-2" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Design Wireframe</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">Value proposition alpha crowdsource</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-month-3" type="checkbox">
                                                <label for="task-month-3" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Customize Template</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">I'll be sure to note that</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-month-4" type="checkbox">
                                                <label for="task-month-4" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Management meeting</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">Hand-crafted exclusive finest</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-15">
                                        <div class="d-flex align-items-center">
                                            <div class="checkbox">
                                                <input id="task-month-5" type="checkbox" checked="">
                                                <label for="task-month-5" class="d-flex align-items-center">
                                                    <span class="inline-block m-l-10">
                                                        <span class="text-dark font-weight-semi-bold font-size-16">Extend data model</span>
                                                        <span class="m-b-0 text-muted font-size-13 d-block">European minnow priapumfish mosshead</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="footer" style="margin-top: 100px;">
        <div class="footer-content">
            @*<p class="m-b-0">Copyright © Nguyễn Văn Huỳnh - Nguyễn Bùi Hoàng Phước. All rights reserved.</p>*@
            <span>
                <a href="" class="text-gray m-r-15">Term &amp; Conditions</a>
                <a href="" class="text-gray">Privacy &amp; Policy</a>
            </span>
        </div>
    </footer>
    <!-- Footer END -->

</div>
<!-- Page Container END -->
<!-- Core Vendors JS -->
<script src="~/Areas/Administrator/Data/assets/js/vendors.min.js"></script>

<!-- page js -->
<script src="~/Areas/Administrator/Data/assets/vendors/chartjs/Chart.min.js"></script>
<script src="~/Areas/Administrator/Data/assets/js/pages/dashboard-default.js"></script>

<!-- Core JS -->
<script src="~/Areas/Administrator/Data/assets/js/app.min.js"></script>
<script src="~/Areas/Administrator/Data/assets/vendors/chartjs/Chart.min.js"></script>
<script src="~/Areas/Administrator/Data/assets/js/pages/dashboard-e-commerce.js"></script>
<script>
    import themeColors from '../constant/theme-constant'

    chart()
    {
        //Bar Chart
        const barChart = document.getElementById("bar-chart");
        const barCtx = barChart.getContext('2d');
        barChart.height = 120;
        const barConfig = new Chart(barCtx, {
            type: 'bar',
            data: {
                labels: ['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018'],
                datasets: [{
                    label: 'Series A',
                    backgroundColor: themeColors.blue,
                    borderWidth: 0,
                    data: [56, 55, 40, 37, 54, 76, 63, 62]
                },
                {
                    label: 'Series B',
                    backgroundColor: themeColors.blueLight,
                    borderWidth: 0,
                    data: [86, 27, 90, 43, 65, 76, 87, 85]
                }]
            },

            options: {
                scaleShowVerticalLines: false,
                responsive: true,
                scales: {
                    xAxes: [{
                        categoryPercentage: 0.45,
                        barPercentage: 0.70,
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Month'
                        },
                        gridLines: false,
                        ticks: {
                            display: true,
                            beginAtZero: true,
                            fontSize: 13,
                            padding: 10
                        }
                    }],
                    yAxes: [{
                        categoryPercentage: 0.35,
                        barPercentage: 0.70,
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Value'
                        },
                        gridLines: {
                            drawBorder: false,
                            offsetGridLines: false,
                            drawTicks: false,
                            borderDash: [3, 4],
                            zeroLineWidth: 1,
                            zeroLineBorderDash: [3, 4]
                        },
                        ticks: {
                            max: 100,
                            stepSize: 20,
                            display: true,
                            beginAtZero: true,
                            fontSize: 13,
                            padding: 10
                        }
                    }]
                }
            }
        });
    }
</script>