@model Shop.EF.DanhGia

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<div class="container-sm container-fluid">
    <div class="p-5" style="background-color: white">
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>DanhGia</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Laptop.tenlaptop)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Laptop.tenlaptop)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ten)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ten)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.noidung)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.noidung)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.vote)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vote)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ngaydanhgia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ngaydanhgia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.trangthai)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.trangthai)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>