@model Shop.EF.DanhGia

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}
@Html.Partial("_MessageAlert")
<div class="container-sm container-fluid">
    <div class="p-5" style="background-color: white">
        <h2>Sửa đổi Đánh giá sản phẩm</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.madanhgia)

                <div class="form-group">
                    @Html.Label("Tên người đánh giá", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ten, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ten, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Nội dung", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.noidung, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.noidung, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Vote", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.vote, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.vote, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Ngày đánh giá", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (Model.ngaydanhgia != null)
                        {
                            <input type="date" name="ngaydanhgia" value="@Model.ngaydanhgia.Value.ToString("yyyy-MM-dd")" />
                        }
                        else
                        {
                            @Html.EditorFor(model => model.ngaydanhgia, new { htmlAttributes = new { @class = "form-control datepicker", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.ngaydanhgia, "", new { @class = "text-danger" })
                        }
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Mã Laptop", "malaptop", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("malaptop", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.malaptop, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.DropDownListFor(model => model.trangthai, new SelectList(
                               new[]
                               {
                        @*new { Value = "", Text = "(none)" },*@
new { Value = "true", Text = "Đã duyệt" },
new { Value = "false", Text = "Chưa duyệt" },
},
"Value",
"Text",
Model
))
                            @*@Html.EditorFor(model => model.trangthai)
        @Html.ValidationMessageFor(model => model.trangthai, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Quay lại", "Index", "DanhGia")
        </div>
    </div>
</div>